@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* background-color: #a54e07; */
  background-image: linear-gradient(
    195deg,
    #a54e07,
    #b47e11,
    /* #fef1a2, */ #bc881b,
    #a54e07
  );
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  transition: all 2s ease;
  height: 100vh;
}
h1 {
  text-align: center;
  padding: 10px;
  letter-spacing: 0.2rem;
}
.container {
  padding: 5px 10px;
  letter-spacing: 0.1rem;
}
.container p {
  margin: 5px 10px;
}
h2,
h4 {
  margin-left: 10px;
}

.btn-container button {
  font-size: 20px;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  text-shadow: 0 2px 4px rgb(0, 0, 0, 0.5);
  transition: all 3s ease-out;
  background: black;
}
.btn-container button:hover {
  background-image: linear-gradient(
    45deg,
    #a54e07,
    #b47e11,
    #fef1a2,
    #bc881b,
    #a54e07
  );
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.5);
}
.btn-container button a {
  color: #fef1a2;
  text-shadow: 0 2px 4px rgb(0, 0, 0, 0.5);
}
.btn-container button a {
  text-decoration: none;
  letter-spacing: 0.2rem;
}
